/* Edições do cabeçalho do site */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    font-family: sans-serif;
}

.header {
    background-color: white;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 48px;
}
.header_list {
    display: flex;
    margin: 50px;
    margin-right: 50px;
}
.header_list_item {
    list-style: none;
    color: black;
    margin-right: 40px;
}
.header_right {
    margin-right: 50px;
}
.header_list_right {
    list-style: none;
    margin: 10px;
    color: green;
}
/* Ediçoes parte do meio do site */
.conteudo {
    background-color: #8b51fc;
    height: 160px;
}

.conteudo_item {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.login {
    color: orangered;
}
.input_container {
    display: flex;
    flex-direction: column;
}

.clienteslogin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clienteslogin .formulario_cliente {
    width: 500px;
    height: 50px;
    margin-bottom: 5px;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid grey;
    text-align: center;
}
.clienteslogin .formulario_senha {
    width: 500px;
    height: 50px;
    margin-bottom: 5px;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid grey;
    text-align: center;
}
.clienteslogin .style {
    width: 150px;
    min-height: 40px; 
    background: orangered;
    color: #fff;
    border: none;
    margin-left: 350px;
}
.recu_senha {
    color: gray;
}

.cadastrocliente {
    color: purple;
}
.input_container2 {
    display: flex;
    flex-direction: column;
}

.clienteslogin2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clienteslogin2 .formulario_nome2 {
    width: 500px;
    height: 50px;
    margin-bottom: 5px;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid grey;
    text-align: center;
}
.clienteslogin2 .formulario_usuario2 {
    width: 500px;
    height: 50px;
    margin-bottom: 5px;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid grey;
    text-align: center;
}
.clienteslogin2 .formulario_senha2 {
    width: 500px;
    height: 50px;
    margin-bottom: 5px;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid grey;
    text-align: center;
}
.clienteslogin2 .stylecadastro {
    width: 150px;
    min-height: 40px; 
    background: purple;
    color: #fff;
    border: none;
    margin-left: 350px;
}
.cadastro4 {
    color: gray;
}

/* Ediçoes parte footer */
 .footer {
    background-color: #8b51fc;
    margin-top: 48px;
    height: 300px;
    display: flex;
    align-items: center;

   
 }
.rodape {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.paragrafo1 {
    margin-left: 45px;
}
.imgs_item {
    margin-left: 28px;
}
.imgs {
    margin-left: 100px;

}
.footer_list_item {
    margin-left: 200px;
    color: white;
    margin-bottom: 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.footer2 {
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}
.itemtext {
    margin-bottom: 30px;

}

a { text-decoration: none; color: inherit; }