/* Edições do cabeçalho do site */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    font-family: sans-serif;
}

.header {
    background-color: white;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 48px;
}
.header_list {
    display: flex;
    margin: 50px;
    margin-right: 50px;
}
.header_list_item {
    list-style: none;
    color: black;
    margin-right: 40px;
}
.header_right {
    margin-right: 50px;
}
.header_list_right {
    list-style: none;
    margin: 10px;
    color: green;
}
/* Ediçoes parte do meio do site */
.main {
    background-color: #8b51fc;
    font-size: 20px;
    height: 60px;
    padding: 0px 650px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_paragrafo {
    color: white;
    margin-bottom: 24px;
}
.main_list_item {
    color: white;
    list-style: none;
    margin-bottom: 16px;
}
.main_list_item img {
    margin-right: 8px;
}
/* Ediçoes parte do meio do site nossos serviços */
.article_servicos {
    margin-top: 50px;
    font-size: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.imgcontainer {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.imgcontainer_item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imgcontainer_item span {
    font-size: 20px;
    margin-top: 16px;
}
/* Ediçoes parte do meio do site app lavebem */
.article3 {
    background-color: #8b51fc;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 650px 0 650px;
    margin-top: 0px;
}

.article_item2 {
    color: white;
    margin-bottom: 24px;
}
.article_3 {
    list-style: none;
    color: white;
    margin-right: 50px;
    margin-bottom: 20px;
}
.article3 img {
    margin-right: 8px;
}
.article4 {
    margin-top: 20px;
    margin-left: 24px;
}
.imgcelular {
margin-left: 200px;
}
/* Ediçoes parte do meio do site conteúdo */
.conteudo {
    margin-top: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.conteudo_item {
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.home-newsletter .single .form-control {
    width: 400px;
    margin-top: 40px;
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid black;
    border-radius: 30px 30px;
    text-align: center;

}
.home-newsletter .single .form-control:focus {
    border-color: #8b51fc ;
}
.home-newsletter .single .btn {
    width: 50px;
    min-height: 50px; 
    border-radius: 30px 30px;
    background: #8b51fc;
    color: #fff;
    border: none;
    }

 /* Ediçoes parte footer */
 .footer {
    background-color: #8b51fc;
    margin-top: 48px;
    height: 300px;
    display: flex;
    align-items: center;

   
 }
.rodape {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.paragrafo1 {
    margin-left: 45px;
}
.imgs_item {
    margin-left: 28px;
}
.imgs {
    margin-left: 100px;

}
.footer_list_item {
    margin-left: 200px;
    color: white;
    margin-bottom: 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.footer2 {
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}
.itemtext {
    margin-bottom: 30px;
}

a { text-decoration: none; color: inherit; }